PROJECTS=[{"name":"my-next-app","path":"/Users/jonathan.navas/Documents/pruebas/my-next-app","branch":"develop_v2","timeToCompare":"180","npm-audit":{"enabled":true},"sonarqube":{"enabled":false,"baseUrl":"","projectKey":"","metrics":[],"apiKeyEnv":"SONARQUBE_API_KEY"}, "jira": {"enabled": true, "proyectKey": "your proyect key"}}]

EXCEL_TEMPLATE_PATH=/Users/josedavidmoraleshernandez/Documents/template/PLANTILLA_KPIs_FormatoProducto.xlsx
EXCEL_OUTPUT_DIR=/Users/josedavidmoraleshernandez/Documents/okrs
JIRA_TOKEN=jira-token
JIRA_URL=https://url.atlassian.net
JIRA_EMAIL=jira-email