PROJECTS=[{"name":"my-next-app","path":"/Users/jonathan.navas/Documents/pruebas/my-next-app","branch":"develop_v2","timeToCompare":"180","npm-audit":{"enabled":true},"sonarqube":{"enabled":false,"baseUrl":"","projectKey":"","metrics":[],"apiKeyEnv":"SONARQUBE_API_KEY"}, "jira": {"enabled": true,"token": "ATATT3xFfGF0B1iz8xw9KFTp4SGOrMEUJvRIWpH2SMOvU25uvKuKpuy8BcVdlfInRnZlRhnfGrA4WN50IjiLcZ_JOZIKBjdMbZ5R_BM9MchOeZtfqUoiTzUU3T_EZXeQcRDv-ydiEphGSZ84AW_4cAXBOp_ycjna07QRdLn1DKSqObL0sF-XPbQ=41F3B279","url": "https://qphcorp.atlassian.net", "email": "david.morales@ppm.com.ec", "proyectKey": "MCBPE"}}]

EXCEL_TEMPLATE_PATH=/Users/josedavidmoraleshernandez/Documents/template/PLANTILLA_KPIs_FormatoProducto.xlsx
EXCEL_OUTPUT_DIR=/Users/josedavidmoraleshernandez/Documents/okrs